@media screen and (max-width: 425px){
    #grid {
        margin: 10vh 0;
    }
    div[id|=block]{
        min-width: 33.2%;
    }
    div[id|=block]:active{
    
        border: 1px solid red;
        padding: 0px;
        background-color: rgb(253, 146, 146);
       
    }
}
