@import "block-grid-md.css";
@import "block-grid-min.css";

body{ 
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}


div[id|=block]{
    background-color: rgb(219, 92, 92);

    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    /*max-width: 8.4%;*/    /*|Potrebbe ritornare utile in futuro*/
    flex: 1 0 ;
    
    aspect-ratio: 1 / 1;    /*|blocchi sempre di egual misura in altezza e larghezza*/

    display: flex;          /*|centrare l'immagine nel blocco*/
    align-items: center;    /*|*/
    
}

div[class|=row]{
    
    display: flex;         
    flex-wrap: wrap;  
}

/*Scrollbar personalizzata, magari da utilizzare*/

::-webkit-scrollbar {
    width: 10px;
  }
  

::-webkit-scrollbar-track {
    background: #000000; 
}

::-webkit-scrollbar-thumb {
    background: #161b22; 
}
  
 
::-webkit-scrollbar-thumb:hover {
    background: #2f3947; 
}
/*fine scrollbar personalizzata */

@media screen and (min-width: 426px){
    #grid{
        margin-top: 12vw;
    }

    div[id|=block]:hover{
        background-color: rgb(136, 0, 0)!important;
        
        transform: scale(1.1,1.1);
        transition: transform 0.75s;
        cursor:pointer;
       
    }
    div[id|=block]:active{
    
        border: 1px solid red;
        padding: 0px;
        background-color: rgb(63, 44, 44);
       
    }
    
}
