@import "block-grid-md.css";
@import "block-grid-min.css";


#grid {
    background-color: #000000;
    margin-bottom: 0;
}

div[class|=row]{
    
    display: flex;         
    flex-wrap: wrap;  
}

div[id|=block]{
    

    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    /*max-width: 8.4%;*/    /*|Potrebbe ritornare utile in futuro*/
    flex: 1 0 ;
    
    aspect-ratio: 1 / 1;    /*|blocchi sempre di egual misura in altezza e larghezza*/

    display: flex;          /*|centrare l'immagine nel blocco*/
    align-items: center;    /*|*/
    
}


img[id|=img]{               /*|Le immagini occupano il massimo dello spazio*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div[id|=color]{
   width: 100%;
   height: 100%;
}
.owner_block{
    border: 1px solid #1eff00 !important;
    background-color: #1eff00;
}
.owner_block > img, .owner_block >div{
    
    -webkit-mask-image:url(../assets/logos/mask.png);
    mask-image: url(../assets/logos/mask.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;  
}

@media screen and (min-width: 426px){
    #grid{
        margin-top: 12vw;
    }

    div[id|=block]:hover{
        
        transform: scale(1.1,1.1);
        transition: transform 0.75s;
        cursor:pointer;
        z-index: 1;
    }
    div[id|=block]:active{
    
        border: 1px solid red;
        padding: 0px;
        background-color: rgb(63, 44, 44);
       
    }
    .owner_block>img:hover,.owner_block>div:hover{
        border: 1px solid #1eff00 !important;
        
        -webkit-mask-image:url(../assets/logos/mask.png);
        mask-image: url(../assets/logos/mask.png);
        -webkit-mask-size: 150%;
        mask-size: 150%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;  
    }
}
