/* FORM */

.mosaic-form{
    text-align: center;
    background-color: #161b22;
    padding: 2vw 3vw;
    box-shadow: 0px 0px 20px 10px #161b227c;
    width: fit-content;
    margin: auto;
    border-radius: 2vw;
    color: white;
    background: rgb(6,180,151);
    background: linear-gradient(36deg, rgba(6,180,151,1) 0%, rgba(0,33,40,1) 57%);
}

.mosaic-form h2{
    font-weight: 650;
}

.mosaic-form label{
    margin: 5px;
    padding: 0;
}

.mosaic-input{
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    border: 0px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(250, 250, 239);
}

.mosaic-input:focus-visible{
    outline-color: #06b497;
    outline-style: solid;
    outline-width: 1px;
    background-color: #31466356;
    color: whitesmoke;
}

.mosaic-submit{
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    font-weight: 600;
    border: 0px;
    margin-top: 15px;
}

.mosaic-submit:hover{
    background-color: #06b497;
    color: white;
}

.mosaic-form a{
    text-decoration: none;
    color: aliceblue;
    font-size: small;
}

.mosaic-form a:hover{
    text-decoration: underline;
}

/*MODIFY*/

#divmodificapassword{
    text-align: center;
    background-color: #192f4e;
    padding: 5%;
    box-shadow: 0px 0px 10px 1px #161b227c;
    border: 3px solid rgba(245, 245, 245, 0.616);
    width: fit-content;
    margin: auto;
    border-radius: 2vw;
    color: white;

}

#container-password{
    position: relative;
}

#mostra {
    position: absolute;
    right: 10px;
    top: 30%;
    color: #314663;
}

#divmodificapassword input[id^=password]{
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    border: 0px;
    font-weight: 600;
    text-align: center;
}

#divmodificapassword input[id^=password]:focus-visible{
    outline-color: rgba(206, 206, 252, 0.747);
    outline-style: solid;
    outline-width: 1px;
    background-color: #31466356;
    color: whitesmoke;
}

#divmodificapassword input[type=submit]{
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    font-weight: 600;
    border: 0px;
}

#divmodificapassword input[type=submit]:hover{
    background-color: cadetblue;
}

#divmodificapassword a{
    text-decoration: none;
    color: aliceblue;
    
}
#divmodificapassword a:hover{
    text-decoration: underline;
}


.form-bg{
    background-image: url(../assets/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#containerrecpsw, #containermodpsw, #containerlogin {
    padding: 25% 0;
}
