
.nav-menu {
    text-align: center;
    color: aliceblue;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #161b22;
    align-items: center;
   
}

.nav-menu-resp {
    display: flex;
    flex-flow: row nowrap;
}

#logo {
    flex: 1 2 0%;
}

#logo > img{
    max-width:100%;
    padding:2vh;
}

#logo > img:hover{
    cursor: pointer;
}

.nav-btn{
    margin: 0px 5px;
    padding: 0.5vw;
    text-decoration: none;
    border-radius: 1vw;
    
    background-color: #24292f;
    /*box-shadow: 2px 2px 5px 0px #4152634d;*/
    color: rgb(255, 255, 255);
}

#profile {
    flex: 0 1 auto;
    display: flex;
    flex-wrap: nowrap;
}

#profile > i{
    flex: 0 0 2%;
    display: flex;
}

#profile > .signup {
    flex: 1 0 auto;
    background-color: #6F8FAF;
    background-image: linear-gradient(45deg, #6F8FAF, rgba(255, 255, 255, 0.507));
    
}

#profile > .signup:hover{
    background-color:  #9bd400;
    box-shadow: 2px 2px 5px 0px #4152634d;
    color: #161b22;
}

#profile > .login {
    flex: 1 0 auto;
    background-color: #2d3a47;
    background-image: linear-gradient(45deg, #06b497, rgba(0, 27, 49, 0.137));
}

#profile > .login:hover{
    background-color:  #011c97;
    box-shadow: 2px 2px 5px 0px #4152634d;

    color: #000000;
}

#points{
    background-color: #24292f00;
}

#logged-username{
    background-color: #4b5561;
    color: aliceblue;
}

/*--------items da cellulare------------*/
#dropup-btn {
    cursor: pointer;
    border-radius: 10px;
    width:fit-content;
    border: 1px solid rgb(63, 63, 63);
    
    padding: 8px;
    display: none;
  }
  
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.801);
    margin: 4px 0;
    transition: 0.4s;
    
  }


.change .bar1 {transform: rotate(-45deg) translate(-5px, 4px);}
.change .bar2 {opacity: 0;}
.change .bar3 {transform: rotate(45deg) translate(-5px, -5px);}

@media  screen and (min-width: 426px){
    #navbar {
        position: fixed;
        top: 0;
        z-index: 2;
    }
    
    .nav-menu{
        height: 12vw;
        transition: 0.5s;
    }
}

@media  screen and (max-width: 425px){
    #navbar{
        width: 40%;
        right: 20px;
        bottom: 20px;
        position: fixed;
        z-index: 2;
    }
    .nav-menu{
        background-color: rgba(255, 255, 255, 0);
        font-size: 7vw;

    }
    
    .visible{
        display: flex !important;
    }

    .nav-menu-resp {
        color: rgb(255, 255, 255);
        
        flex-flow: column nowrap;
    }

    #logo{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 10vh;
        width: 100%;
        background-color: #161b22;
    }

    #logo > img{
        max-height: 10vh;
        max-width: 100%;
    }

    #home{
        width: 100%;
    }

    #profile {
        flex-flow: column nowrap;
        width: 100%;
        display: none;
    }

    .nav-btn{
        margin: 2px 0px;
        border-radius: 2vw;
    }

    #dropup-btn {
        display: block;
        background-color: #18263b;
        float: right;
    }

    #dropup-btn:active{
        opacity: 0.95;
    }

    #points{
        background-color: #24292f;
    }
}
