/*Ordinato secondo gli elementi che trovo nella pagina*/
#pop-block{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  z-index: -1;
}


.filter{
  filter: blur(5px);
}

.info-pop{
  height: 96%;
  border-radius:25px;
  width: 0;
  position: absolute;

  top: 2%;
  left: 1.5%;

  overflow-x: hidden;
  overflow-y: hidden;
  transition: 1s;

}


.info-pop a {
  display: block;
  text-decoration: none;
  
}

.info-pop a:hover {
  color: #f1f1f1;
}

.info-pop .closebtn {  
  font-size: 36px;
  text-align: end;
  color: #818181;

  flex: 0 1 1%;
}

/*| More deep in details*/
/*|*/
/*V*/
.card {
  background-color: #111;
  background-image: linear-gradient(to bottom left, #111, #313131);
  border: 1px solid rgba(70, 70, 70, 0.507);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
}
#container-block{
  flex: 0 1 40%;
  max-height: 50%;
}

.card-img-top{
  margin: 0px auto 0px;
  max-width: 100%;
  height: 100%;
  object-fit: contain;

  box-shadow: 0px 0px  5px 5px rgba(17, 17, 17, 0.575);
  border-radius: 15px;
  background-color: #161b22cc;
}

.card-body{
  flex: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.card-market{
display: flex; 
flex-direction: row;

}
.placeholder-price{
margin:10px;
}

/* signup button and login button ready to become buy and details button */
#buy-if{
display: flex;
flex-direction: column ;
font-size: 30px;
height: 100%;
}   

#buy-if > ._btn:hover{
  background-image: linear-gradient(-45deg, #00366dec, #14035377);
  box-shadow: 0px 0px  5px 1px rgba(122, 122, 122, 0.233);
  
  color:rgb(138, 138, 138);
}

/*Se non si è loggati si vede questo*/
.not-logged {
  flex: 50%;
  border-radius: 5px;
  margin: 5px 0 5px;
  border: 0px;
  box-shadow: 2px 2px 5px 0px #4152634d;
  width: 100%;

  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow:2px 1px rgba(56, 56, 56, 0.493);
}

.not-logged.signup {
  background-color: #2d3a47;
  background-image: linear-gradient(-90deg, #2d3a47, #2d3a4786);
}
.not-logged.login {
  background-color: #6F8FAF;
  background-image: linear-gradient(90deg, #6F8FAF, rgba(45, 58, 71, 0.233));
}

/*Se si è loggati si vede invece questo*/
.logged{
  background-color: #0080ff;
  background-image: linear-gradient(-45deg, #00366d, #140353b4);
  border-radius: 5px;
  border: 0px;
  margin: 5px 0 5px;
  box-shadow: 2px 2px  5px 1px rgba(27, 27, 27, 0.575);
  
  flex: 1 1 0%;
  text-align: center;
  color:aliceblue;
  font-size: 30px;
}



/* purchase-confirm box*/
#purchase-confirm {
  display: none; 
  position: fixed; 
  z-index: 4; 
  
  top: 0;
  
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.confirm-content {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #1e252e;
  width: 100%;
  height: 20%;
  animation-name: btoup;
  animation-duration: 0.4s
}


@keyframes btoup {
  from {bottom:-300px; opacity:0}
  to {bottom:0; opacity:1}
}



.confirm-header {
  padding: 1vw;
  background-color: #161b22;
  
}

.confirm-body {padding: 1vw;}

.confirm-body > div{text-align:right;}
.confirm-body  ._btn {
  width: 10%;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  background-color: #8f8f8f;
  border: 0px;
}
.confirm-body  ._btn:hover{
  background-color: #8f8f8f5b;
}

.card-footer{
  flex: 0 1 4%;
}



/*--Responsiveness--*/
@media screen and (max-height: 600px){
  .info-pop .closebtn{
    font-size: 10px;
    padding: 8px;
  }
  .card-body{
    padding-bottom: 0.5rem!important;
    padding-top: 0rem!important;
    
  }
  .card-title{
    font-size: 14px;
  }
  .card-text{
    font-size: 11px;
    margin: 0px;
  }

  #buy-if{
    flex-direction: row;
    font-size: 15px;
  }
 
  .card-footer{
    font-size: 10px;
  }
}

@media screen and (max-width: 1000px){
  .card-market{
    flex-direction: column;
    
  }
  .placeholder-price{
    margin:0px;
  }
  #price-block {
    font-size: 20px;
    text-align: end;
  }
  .not-logged{
    width: 100%;
    margin: 5px 0px  ;
  }

  }
  @media screen and (max-height: 915px) and (min-height: 401px){

  .info-pop .closebtn{
    font-size: 15px;
    padding: 8px;
  }

}

@media screen and (max-height: 915px) and (max-width: 425px){
  .info-pop {
      border-radius: 25px 25px 0px 0px ;
      top: 100%;
      height: 75%;

  }
  .card{
    border-radius:25px 25px 0px 0px;
  }

  .not-logged{
    margin: 5px;
  }
  .confirm-body > div{
    margin: auto;
    
    text-align: center;
  }
  .confirm-body ._btn{
    width: 40%;
  }
}
