#outer-main {
    position: relative;
    padding-top: 17vw;
    padding-bottom: 8vw;
    background-image: url(../assets/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* qua sopra prima c'era mycontainer*/

#main-container {
    margin: auto;
    width: 85%;
    border-radius: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 25%;
    height: fit-content;
    box-shadow: 0 4px 10px 5px rgb(0 0 0 / 20%), 0 6px 20px 5px rgb(0 0 0 / 19%);
}


#container-logo-blocchi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 40%;
    z-index:5;

    
}



@keyframes traslateY {
    from {
        transform: translateY(-200px);
        opacity: 0%;
    }
    to {
        transform: translateY(0px);
        opacity: 100%;
    }
  }


@keyframes traslateX_right {
    from {
        transform: translateX(-200px);
        opacity: 0%;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}

@keyframes traslateX_left {
    from {
        transform: translateX(200px);
        opacity: 0%;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}
@keyframes visible {
    from {
        
        opacity: 0%;
    }
    to {
        
        opacity: 100%;
    }
}
#mad-block1{
    animation-duration: 3s;
    animation-timing-function:ease-out;
    animation-iteration-count: 1;

    
    animation-name: traslateY ;
}
#mad-block2{
    animation-duration: 3s;
    animation-timing-function:ease-out;
    animation-iteration-count: 1;  
    animation-name: traslateX_right;
}

#mad-block3{
    animation-duration: 3s;
    animation-timing-function:ease-out;
    animation-iteration-count: 1;

    animation-name: traslateX_left;
}


@keyframes rotate{
    from {  transform: rotate(0deg);  }
    to { transform: rotate(40deg);}
}
#mad-block-rotate{
    animation-duration: 5s;
    
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    
    animation-name: traslateY ,rotate;
}


#mad-block-center{
    transform: rotate(0deg); 
    opacity: 0%;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    
    animation-name: visible;
}



@keyframes opening {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#container-destra {
    
    flex: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    border-radius: 0px 20px 20px 0px;
    background-image: linear-gradient(to right, rgb(255 255 255), rgb(200 201 204));

}

#container-destra h2{
    margin-top: 4vh;
    font-weight: 800;
}

.campoform > label{
    flex:1 1 15%;
    
}
.campoform > input{
    flex: 4 0 0%;
    width: 100%;
    padding: 10px;
    margin: 4px;
    height: 100%;
    border-radius: 25px;
    border: 0px ;
    background-color: rgba(255, 255, 255, 0.863);
    box-shadow: 5px 5px 3px 1px #161b2212;
    
}

#container-destra  input[type=text]:focus-visible{
    
    outline-color: rgba(42, 42, 243, 0.747);
    outline-style: solid;
    outline-width: 1px;
    background-color: #31466356;
    color: whitesmoke;
}

span.campoform{
    flex: 0%;
    align-items: center;
    position:relative;
    margin:10px;
    
}

.check_termini{
    text-align: center;
    width: fit-content;
    margin-left: 13%;
}

.logo-blocchi > div {
    margin: 15px;
    height: 70px;
    width: 70px;
    background-color: rgb(26, 77, 82);
}

.buttonSubmit {
    border:none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 25%;
    margin-top: 2%;
    margin-left: 53%;
    margin-bottom: 5%;
    background-color: #5b7caa;
    
    padding: 1%;
    font-size: 20px;
}

.buttonSubmit:hover {
    background-color: #202b3b;
    color: white;

}

/*.campoform > small{
    color:rgb(195, 0, 0);
    position: absolute; 
    left:30%;
    top:5%;
    font-size: 0.5vw;
}*/


.error::placeholder {
    color: red;
    opacity: 1;
}



.error{
    border-color: red;
}




#sicurezzaPassword{
    display: flex;
    visibility: hidden;
    height: 7px;
    text-align: center;
    margin-bottom: 5px;
    position: relative;
    bottom: 15%;
    left: 3%;
}

div[id|=pass]{
    width: 20px;
    margin: 5px 1px 0px;
    border: 1px solid rgba(185, 185, 185, 0.39);
    height: 100%;
    transition: 0.5s;
}


#mostra {
    position: absolute;
    right: 10px;
}


.mytooltip {
    position: relative;

  }
  
  .mytooltip ~ .tooltiptext {
    visibility: hidden;
    
    font-weight: 900;
    box-shadow: 0px 0px 10px 0px #00000036;
    border: 1px solid #9a9a9a;
    background-color: rgb(255 255 255 / 84%);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5%;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 35%;
  }
  
  .mytooltip ~ .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .mytooltip:focus ~ .tooltiptext {
    visibility: visible;
  }


  .check_termini label {
    display: inline;
  }


@media screen and (max-width: 768px){
    
    #main-container {
        width: 70%;
    }

    #container-logo-blocchi{
        display: none;
    }
    #container-destra{
        border-radius: 20px;
        background-image: linear-gradient(2350deg, rgb(255 255 255), rgb(200 201 204));
    }
    span.campoform{
        flex-direction: column;

    }

    .check_termini{
        margin-left: 0%;
    }
    
    #mostra {
        right: 10px;
        bottom: 15px;
    }

    #sicurezzaPassword {
        bottom: 0%;
        left: 4%;
    }
    .check_termini  label {
        margin-left: 8px;
    }

    .buttonSubmit {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
}

@media screen and (min-width: 426px){
    #container-destra {
        opacity: 0%;
        animation-delay: 4.5s;
        animation-duration: 2s;
    
        animation-timing-function:ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    
        
        animation-name: opening;
    
    
    }
}

@media screen and (max-width: 425px){
    #main-container {
        width: 80%;
    }

    #outer-main {
        position: relative;
        margin-top: 10vh;
    }
    #main-container{
        margin: auto
    }
}