
#pop-block{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    z-index: -1;
}

.filter{
  filter: blur(5px);
}

.info-pop {
  height: 96%;
  border-radius:25px;
  width: 0;
  position: absolute;
  
 
  top: 2%;
  left: 1.5%;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 1s;
 
}


.info-pop a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  
}

.info-pop a:hover {
  color: #f1f1f1;
}

.info-pop .closebtn {
  
  font-size: 36px;
  text-align: end;
}

.card-img-top{
  margin: 0px auto 0px;
  max-width: 100%;
  max-height: 50%;
  object-fit: contain;
}


@media screen and (max-height: 400px){
  .info-pop .closebtn{
    font-size: 8px;
  }
  
}
@media screen and (max-height: 915px) and (min-height: 401px){
  
  .info-pop .closebtn{
    font-size: 15px;
  }
 
}

@media screen and (max-height: 915px) and (max-width: 425px){
  .info-pop {
      border-radius: 25px 25px 0px 0px ;
      top: 25%;
      height: 75%;

  }
  
}